<video class="app-camera__video" #videoElement autoplay playsinline [muted]="true"></video>

<div class="app-camera-controls app-camera__controls">
  <div class="app-camera-control-group">
    <button
      class="app-camera-button app-camera-button_fill"
      type="button"
    >
      <img
        class="app-camera-button__icon app-camera-button__icon_settings"
        ngSrc="assets/settings.svg"
        width="40"
        height="40"
        alt="Settings icon">
    </button>
  </div>

  <div class="app-camera-control-group app-camera-control-group_middle">
    <button
      class="app-camera-button app-camera-button_white"
      type="button"
      (click)="startRecordingWithTimeout()"
      [hidden]="isRecording"
    >
      <img
        class="app-camera-button__icon app-camera-button__icon_start"
        ngSrc="assets/record-start.svg"
        width="28"
        height="28"
        alt="Record start icon"
      >
    </button>

    <button
      class="app-camera-button app-camera-button_white app-camera-button_stop"
      type="button"
      (click)="stopRecording()"
      [hidden]="!isRecording"
    >
      <img
        class="app-camera-button__icon app-camera-button__icon_stop"
        ngSrc="assets/record-stop.svg"
        width="22"
        height="22"
        alt="Record stop icon"
      >
    </button>

    <div class="app-camera-progress" [hidden]="!isRecording">
      <progress
        #progressLineElement
        class="app-camera-progress__line"
        [max]="maxRecordDurationSeconds"
      ></progress>

      <span class="app-camera-progress__value" #progressValueElement></span>
    </div>
  </div>
</div>
