@use 'sass:math';
@use '../../shared/ui/mixins';

$control-group--size: 80px;

@mixin scaled($from, $to) {
  transform: scale(math.div($to, $from));
}

:host {
  display: block;
  position: relative;
  overflow: hidden;
}

.app-camera__controls {
  bottom: 0;
  display: grid;
  grid-template-columns: $control-group--size $control-group--size;
  justify-content: space-between;
  left: 0;
  padding: 28px 30px;
  position: absolute;
  right: 0;

  @media screen and (min-width: 768px) {
    grid-template-columns: $control-group--size min-content $control-group--size;
  }
}

.app-camera__video {
  height: 100%;
  width: 100%;
}

//region .app-camera-control-mat
.app-camera-control-mat {
  @include mixins.blur();
  background-color: #00000099;
  overflow: hidden;
}

.app-camera-control-mat_left {
  border-radius: math.div($control-group--size, 2);
  height: $control-group--size;
  width: $control-group--size;
}

.app-camera-control-mat_middle {
  align-items: center;
  border-radius: math.div($control-group--size, 2);
  display: flex;
  gap: 16px;
  height: $control-group--size;
  justify-content: center;

  @media screen and (min-width: 768px) {
    width: 300px;
  }
}

.app-camera-control-mat_overlay {
  border-radius: 8px;
  width: 280px;
}

//endregion

//region .app-camera-button
.app-camera-button {
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  border-width: 0;
  cursor: pointer;
  justify-content: center;
  outline: none;
  padding: 0;

  &:not([hidden]) {
    display: flex;
  }

  &:hover {
    .app-camera-button__icon_settings {
      @include scaled(40, 48);
    }

    .app-camera-button__icon_start {
      @include scaled(28, 32);
    }

    .app-camera-button__icon_stop {
      @include scaled(22, 26);
    }
  }

  &:not(.app-camera-button_fill) {
    $size: 60px;

    height: $size;
    width: $size;
  }
}

.app-camera-button_fill {
  height: 100%;
  width: 100%;
}

.app-camera-button_white {
  background-color: #FFFFFF;
}

.app-camera-button_stop {
  border: 3px solid #5061D0;
}

.app-camera-button__icon {
  transition: transform 0.2s linear;
}

//endregion

//region .app-camera-progress
.app-camera-progress {
  position: relative;

  @media screen and (max-width: 767.999px) {
    display: none;
  }
}

.app-camera-progress__line {
  appearance: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  height: 24px;
  overflow: hidden;

  width: 143.5px;

  &::-webkit-progress-bar {
    background-color: rgba(255, 255, 255, 0.2); // #FFFFFF33
  }

  &::-webkit-progress-value {
    background-color: #5061D0;
  }

  &::-moz-progress-bar {
    background-color: #5061D0;
  }
}

.app-camera-progress__value {
  color: white;
  font-size: 1rem;
  font-weight: 900;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

//endregion


//region .app-camera-quality-option
$option--color: #FFFFFF;

.app-camera-quality-option {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  color: rgba($option--color, 0.6);
  cursor: pointer;
  display: block;
  font-size: 20px;
  padding: 12px 16px;
  text-align: left;
  transition: background-color 0.2s ease;

  &:hover {
    color: $option--color;
  }
}

.app-camera-quality-option_selected {
  color: $option--color;
  font-weight: 900;
}

.app-camera-quality-option__resolution {
  font-weight: 700;
}

//endregion
