<video class="app-camera__video" #videoElement autoplay playsinline [muted]="true"></video>

<div class="app-camera-controls app-camera__controls">
  <div class="app-camera-control-mat app-camera-control-mat_left">
    <button
      class="app-camera-button app-camera-button_fill"
      type="button"
      (click)="toggleQualityOverlay()"
      cdkOverlayOrigin
      #qualityTrigger="cdkOverlayOrigin"
    >
      <img
        class="app-camera-button__icon app-camera-button__icon_settings"
        ngSrc="assets/settings.svg"
        width="40"
        height="40"
        alt="Settings icon">
    </button>

    <!-- Quality Overlay -->
    <ng-template
      cdkConnectedOverlay
      [cdkConnectedOverlayOrigin]="qualityTrigger"
      [cdkConnectedOverlayOpen]="isQualityOverlayOpen"
      [cdkConnectedOverlayPositions]="overlayPositions"
      (overlayOutsideClick)="isQualityOverlayOpen = false"
    >
      <div class="app-camera-control-mat app-camera-control-mat_overlay">
        <button
          *ngFor="let qualityOption of qualities; trackBy: trackQualityOption"
          class="app-camera-quality-option"
          [class.app-camera-quality-option_selected]="qualityOption.value === quality"
          (click)="selectQuality(qualityOption.value)"
        >
          <span class="app-camera-quality-option__resolution">
            {{ qualityOption.resolution }}p
          </span>

          <span class="app-camera-quality-option__label">
            ({{ qualityOption.label }})
          </span>
        </button>
      </div>
    </ng-template>
  </div>

  <div class="app-camera-control-mat app-camera-control-mat_middle">
    <button
      class="app-camera-button app-camera-button_white"
      type="button"
      (click)="startRecordingWithTimeout()"
      [hidden]="isRecording"
    >
      <img
        class="app-camera-button__icon app-camera-button__icon_start"
        ngSrc="assets/record-start.svg"
        width="28"
        height="28"
        alt="Record start icon"
      >
    </button>

    <button
      class="app-camera-button app-camera-button_white app-camera-button_stop"
      type="button"
      (click)="stopRecording()"
      [hidden]="!isRecording"
    >
      <img
        class="app-camera-button__icon app-camera-button__icon_stop"
        ngSrc="assets/record-stop.svg"
        width="22"
        height="22"
        alt="Record stop icon"
      >
    </button>

    <div class="app-camera-progress" [hidden]="!isRecording">
      <progress
        #progressLineElement
        class="app-camera-progress__line"
        [max]="maxRecordDurationSeconds"
      ></progress>

      <span class="app-camera-progress__value" #progressValueElement></span>
    </div>
  </div>
</div>
