@use 'sass:math';

$control-group--size: 80px;

@mixin scaled($from, $to) {
  transform: scale(math.div($to, $from));
}

:host {
  display: block;
  position: relative;
}

.app-camera__controls {
  bottom: 0;
  display: grid;
  grid-template-columns: $control-group--size min-content $control-group--size;
  justify-content: space-between;
  left: 0;
  padding: 28px 30px;
  position: absolute;
  right: 0;
}

.app-camera__video {
  background-color: white; // todo remove
  border-radius: 8px;
  width: 100%;
}

//region .app-camera-control-group
.app-camera-control-group {
  $blur: blur(10px);

  align-items: center;
  -webkit-backdrop-filter: $blur;
  backdrop-filter: $blur;
  background-color: #00000099;
  border-radius: math.div($control-group--size, 2);
  border-width: 0;
  display: flex;
  gap: 16px;
  height: $control-group--size;
  justify-content: center;
  min-width: $control-group--size;
  overflow: hidden;
}

.app-camera-control-group_middle {
  width: 300px;
}

//endregion

//region .app-camera-button
.app-camera-button {
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  border-width: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  outline: none;
  padding: 0;

  &:hover {
    .app-camera-button__icon_settings {
      @include scaled(40, 48);
    }

    .app-camera-button__icon_start {
      @include scaled(28, 32);
    }

    .app-camera-button__icon_stop {
      @include scaled(22, 26);
    }
  }

  &:not(.app-camera-button_fill) {
    $size: 60px;

    height: $size;
    width: $size;
  }
}

.app-camera-button_fill {
  height: 100%;
  width: 100%;
}

.app-camera-button_white {
  background-color: #FFFFFF;
}

.app-camera-button_stop {
  border: 3px solid #5061D0;
}

.app-camera-button__icon {
  transition: linear transform 0.2s;
}

//endregion

//region .app-camera-progress
.app-camera-progress {
  position: relative;
}

.app-camera-progress__line {
  appearance: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  height: 24px;
  overflow: hidden;

  width: 143.5px;

  &::-webkit-progress-bar {
    background-color: rgba(255, 255, 255, 0.2); // #FFFFFF33
  }

  &::-webkit-progress-value {
    background-color: #5061D0;
  }

  &::-moz-progress-bar {
    background-color: #5061D0;
  }
}

.app-camera-progress__value {
  color: white;
  font-family: Lato;
  font-size: 1rem;
  font-weight: 900;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
//endregion
