<div class="app-recorder app__card">
  <ng-container *ngIf="quality | async as quality; else spinner">
    <app-camera class="app-recorder__camera" [quality]="quality" (videoRecorded)="onVideoRecorded($event)"></app-camera>
  </ng-container>

  <ng-template #spinner>
    <div class="app-recorder__spinner">
      <app-spinner></app-spinner>
    </div>
  </ng-template>
</div>

<div class="app__card app__card_records">
  <ng-container *ngIf="records$ | async as records">
    <app-record-list-item
      *ngFor="let record of records; trackBy: trackRecord"
      [record]="record"
      (activated)="onRecordActivated(record)"
      (removed)="onRecordRemoved(record)"
    ></app-record-list-item>
  </ng-container>
</div>

<div class="app__overlay" *ngIf="activeRecord && url">
  <div class="app-player">
    <video
      #playerVideo
      class="app-player__video"
      [src]="url"
      (ended)="onVideoEnded()"
      (timeupdate)="onTimeUpdate($event)"
    ></video>

    <div class="app-player__bar app-player__bar_top">
      <button class="app-player__button" type="button" (click)="onCloseClick()">
        <img ngSrc="assets/cross.svg" width="24" height="24" alt="Close icon">
      </button>
    </div>

    <div class="app-player__bar app-player__bar_bottom">
      <div class="app-player-controls">
        <button class="app-player-controls__button" type="button">
          <img
            ngSrc="assets/pause.svg"
            [hidden]="!isPlaying"
            width="36"
            height="36"
            alt="Pause icon"
            (click)="togglePlayback()"
          >
          <img
            ngSrc="assets/play.svg"
            [hidden]="isPlaying"
            width="36"
            height="36"
            [alt]="isPlaying ? 'Pause icon' : 'Play icon'"
            (click)="togglePlayback()"
          >
        </button>

        <div class="app-player-controls__timeline">
          <span class="app-player-timeline__time">
            {{ currentTime | number:'1.2-2' }}
          </span>

          <div class="app-player-bar">
            <div class="app-player-bar__frame">
              <div
                class="app-player-bar__filler"
                [style.transform]="'translateX(' + currentPercentage / 2 + '%)'"
              >
              </div>
            </div>


            <div
              class="app-player-bar__handle"
              [style.transform]="'translateX(' + currentPercentage + '%)'"
            ></div>
          </div>

          <span class="app-player-timeline__time">
            {{ (activeRecord.durationMs / 1000) | number:'1.2-2' }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
