<div class="app-video app__card">
  <ng-container *ngIf="quality | async as quality; else spinner">
    <video
      appCamera
      (videoRecorded)="onVideoRecorded($event)"
      #camera="appCamera"
      autoplay
      playsinline
      [muted]="true"
    ></video>

    <div class="controls">
      <div class="quality-indicator">
        Current Quality: {{ quality }}
      </div>

      <button
        (click)="camera.toggleRecording()"
        [class.recording]="camera.isRecording"
        class="record-btn"
      >
        {{ camera.isRecording ? 'Stop Recording' : 'Start Recording' }}
      </button>
    </div>
  </ng-container>

  <ng-template #spinner>
    <div class="app-video__spinner">
      <app-spinner></app-spinner>
    </div>
  </ng-template>
</div>

<div class="app-video app__card">
  <video
    *ngFor="let record of records; trackBy: trackRecord"
  >
    <source [src]="record.url" type="video/webm">
  </video>
</div>
