<div class="app-video app__card">
  <ng-container *ngIf="quality | async as quality; else spinner">
    <app-camera [quality]="quality" (videoRecorded)="onVideoRecorded($event)"></app-camera>
  </ng-container>

  <ng-template #spinner>
    <div class="app-video__spinner">
      <app-spinner></app-spinner>
    </div>
  </ng-template>
</div>

<div class="recordings app__card">
  <ng-container *ngIf="records$ | async as records">
    <app-record-list-item *ngFor="let record of records; trackBy: trackRecord"  [record]="record"></app-record-list-item>
  </ng-container>
</div>
