@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import '@angular/cdk/overlay-prebuilt.css';

html {
  height: 100%;
}

body {
  background: linear-gradient(#2B2B2B, #000000);
  font-family: 'Lato', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}
