@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

html {
  height: 100%;
}

body {
  background: linear-gradient(#2B2B2B, #000000);
  height: 100%;
  margin: 0;
  padding: 0;
}
